@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
    --animate-color: #ff2770;
}

.banner {
    background: var(--bg-color);
    display: flex;
    align-items: center;
    padding: 20px 40px;
}

.banner .image {
    width: 30%;
    height: 650px;
}

.banner .image img {
    width: 100%;
    height: 90%;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--main-color);
}

.banner .social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 10px 0;
    margin-top: 10px;
}

.banner .social i {
    padding: 10px;
    border-radius: 50%;
    border: 2px solid var(--main-color);
    transition: 0.6s;
}

.banner .social i:hover {
    transform: translateY(-8px);
    color: var(--main-color);
}

.banner .social a {
    font-size: 1.6rem;
    color: var(--text-color);
}

.banner h1 {
    color: var(--main-color);
    font-size: 3rem;
    text-align: center;
}

.banner .write-up {
    width: 70%;
}

.banner .sec1 {
    overflow-y: auto;
    height: 500px;
    padding: 10px 20px;
    background: var(--bg-color);
}

.banner .sec1 article {
    margin-top: 5px;
    padding: 10px;
    color: var(--text-color);
    text-align: justify;
}