@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
    --animate-color: #ff2770;
}

.banner {
    background: var(--bg-color);
    display: flex;
    align-items: center;
    padding: 20px 40px;
}

.banner .image {
    width: 100%;
    height: inherit;
    height: 430px;
}

.banner .image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--main-color);
}

.banner h1 {
    color: var(--main-color);
    font-size: 3rem;
    text-align: center;
}

.banner .sec {
    overflow-y: auto;
    height: 430px;
    padding: 10px 20px;
    background: var(--bg-color);
}

.banner .sec article {
    margin-top: 5px;
    padding: 10px;
    color: var(--text-color);
    text-align: justify;
}

.banner .sec1 article p {
    font-weight: 500;
}